@import '../../../styles/mixins/neobrutalism-item';

.button {
	@include neo-brutalism-item;
	border-radius: 50px;
	font-size: 1.5rem;
	box-shadow: $neo-brutalism-box-shadow;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--foreground);
	&:hover,
	&:disabled {
		transform: translate($shadow-size, $shadow-size);
		box-shadow: 0 0 var(--foreground), 0 0 var(--foreground);
	}
}
