:root {
	--foreground: #0d0120;
	--color-error: #f57c61;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	color: var(--foreground);
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
	border: none;
	font-family: inherit;
	outline: none;
}

::selection {
	background: rgba(86, 8, 210, 0.5);
	color: var(--foreground);
}
