@import '../styles/mixins/responsive';

.home {
	min-height: 100vh;
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 150px;
	min-height: 100vh;
	@include desktop {
		padding-top: initial;
	}
	&__content {
		display: grid;
		gap: 2rem;
		padding: 2rem;
		z-index: 1;
		@include desktop {
			padding-left: 141px;
			max-width: 750px;
		}
		&__logo {
			width: 18rem;
			@include desktop {
				width: 20rem;
			}
			@include custom-breakpoint(1440px) {
				width: 30rem;
			}
		}
		&__text {
			font-size: 1.1rem;
		}
		&__how_works_btn {
			width: max-content;
			background: none;
			text-decoration: underline;
			font-size: 1.2rem;
			cursor: pointer;
			font-weight: bold;
			color: var(--foreground);
		}
		button.home__content__button {
			width: 100%;
			max-width: 350px;
		}
		&__how_works {
			&__list {
				display: grid;
				gap: 1rem;
				list-style-position: inside;
			}
		}
		&__start {
			&__label {
				display: grid;
				gap: 0.5rem;
				font-weight: 600;
				margin-bottom: 0.5rem;
			}
			&__error {
				color: var(--color-error);
				font-size: 14px;
				margin-bottom: 0.5rem;
			}
			&__text {
				font-size: 14px;
			}
			&__button {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.5rem;
				&__loader {
					width: 1.6rem;
					animation: loader_button 1s infinite;
				}
			}
		}
		&__created_by {
			position: relative;
		}
	}
	&__light {
		position: absolute;
		top: 0;
		left: 2rem;
		width: 5rem;
		animation: light 1s ease-in-out;
		pointer-events: none;
		user-select: none;
		@include desktop {
			position: fixed;
			height: 20vh;
			width: inherit;
			left: initial;
			right: 50vw;
		}
	}
	&__plant {
		position: absolute;
		top: 0;
		right: 2rem;
		width: 6rem;
		animation: plant 1s ease-in-out;
		pointer-events: none;
		user-select: none;
		@include desktop {
			position: fixed;
			width: inherit;
			height: 40vh;
			right: 30vw;
		}
	}
	&__room {
		width: 100%;
		animation: room 1s ease-in-out;
		user-select: none;
		pointer-events: none;
		@include desktop {
			width: initial;
			position: fixed;
			right: 0;
			bottom: 0;
			height: 100vh;
		}
	}
}

@keyframes plant {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes light {
	from {
		transform: translateY(-100%) rotate(90deg);
		opacity: 0;
	}
	to {
		transform: translateY(0) rotate(0);
		opacity: 1;
	}
}

@keyframes room {
	from {
		opacity: 0;
		transform: translateX(50%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes loader_button {
	0% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate(-20deg);
	}
}
