$shadow-size: 4px;
$neo-brutalism-box-shadow: 0 0 var(--foreground), 0 0 var(--foreground),
	$shadow-size $shadow-size 0px 0px var(--foreground);
@mixin neo-brutalism-item {
	width: max-content;
	background: #fff;
	border: 2px solid var(--foreground);
	min-height: 46px;
	padding: 0 2rem;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
	&.full_width {
		width: 100%;
	}
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
