@import './../../styles/mixins/responsive';

.game {
	background: var(--background);
	min-height: 100vh;
	&__container {
		display: grid;
		gap: 1rem;
		padding: 2rem;
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		&__controls {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__countdown {
				font-size: 1.5rem;
				&.modal {
					z-index: 3;
					color: #fff;
				}
			}
		}
		&__wildcards {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1rem;
			&__button {
				white-space: nowrap;
			}
		}
		&__content {
			&__list {
				list-style: none;
				display: grid;
				gap: 1rem;
				@include desktop {
					grid-template-columns: 1fr 1fr;
				}
				&__button {
					&[data-correct='true'] {
						animation: button_correct var(--animation-duration) forwards;
					}
					&.selected {
						animation: button_selected var(--animation-duration) forwards;
					}
				}
			}
		}
		&__phone_call,
		&__public_help {
			text-align: center;
			color: #fff;
			padding: 2rem 0;
			&__title {
				font-size: 1.5rem;
				margin-bottom: 2rem;
			}
			&__imgs {
				display: grid;
				justify-items: center;
				gap: 1rem;
				margin: 0 auto;
				margin-bottom: 2rem;
				position: relative;
				width: max-content;
				&__chart {
					width: 200px;
					z-index: 1;
				}
				&__cat_help_1 {
					position: absolute;
					left: -5rem;
					top: 4rem;
				}
				&__mac {
					position: absolute;
					right: -5rem;
					top: 4rem;
					transform: rotate(45deg);
					animation: mac_help 2s infinite;
				}
				&__cat_call,
				&__cat_help_1 {
					animation: cat_call 1s infinite;
					pointer-events: none;
					user-select: none;
				}
			}
			&__message {
				font-size: 1.2rem;
				margin-bottom: 2rem;
				&__answer {
					font-size: 1.5rem;
					font-weight: bold;
				}
			}
		}
		&__modal_info {
			&__awards {
				display: grid;
				grid-template-rows: repeat(5, auto);
				grid-auto-flow: column;
				width: max-content;
				margin: 0 auto;
				column-gap: 2rem;
				row-gap: 0.5rem;
				margin-bottom: 1rem;
			}
			&__buttons {
				display: grid;
				gap: 1rem;
			}
		}
	}
	&__room1 {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 50vw;
		z-index: 1;
		pointer-events: none;
		user-select: none;
		animation: room1 1s ease-in-out;
		@include desktop {
			width: initial;
			height: 85vh;
		}
	}
	&__room2 {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 50vw;
		z-index: 1;
		pointer-events: none;
		user-select: none;
		animation: room2 1s ease-in-out;
		@include desktop {
			width: initial;
			height: 85vh;
		}
	}
	&__plant {
		position: absolute;
		top: 0;
		right: 2rem;
		width: 6rem;
		animation: plant 1s ease-in-out;
		pointer-events: none;
		user-select: none;
		@include desktop {
			position: fixed;
			width: inherit;
			height: 40vh;
			right: 15vw;
		}
	}
	&__floor {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 20vh;
		pointer-events: none;
		user-select: none;
	}
}

.remove_events {
	pointer-events: none;
}

@keyframes cat_call {
	0% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(-10deg);
	}
}

@keyframes mac_help {
	0% {
		transform: rotate(45deg) translateY(0);
	}
	50% {
		transform: rotate(45deg) translateY(10px);
	}
	100% {
		transform: rotate(45deg) translateY(0);
	}
}

@keyframes button_selected {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1);
	}
	75% {
		transform: scale(0.9);
	}
	99% {
		background: #fff;
	}
	100% {
		transform: scale(1);
		background: var(--answer-color);
	}
}
@keyframes button_correct {
	99% {
		background: #fff;
	}
	100% {
		background: var(--color-success);
	}
}

@keyframes plant {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes light {
	from {
		transform: translateY(-100%) rotate(90deg);
		opacity: 0;
	}
	to {
		transform: translateY(0) rotate(0);
		opacity: 1;
	}
}

@keyframes room1 {
	from {
		opacity: 0;
		transform: translateX(-50%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes room2 {
	from {
		opacity: 0;
		transform: translateX(50%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
